<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/disclaimer.css">
    <link rel="stylesheet" href="/template/css/styles.css">
    <title>Effet Doppler</title>
</head>
<body>

    <main class="main-div" id="main-div">

        <div class="main-text" id="main_text">
            <h1 id="text-h1">Bonjour / Bonsoir et bienvenue<br/><h1>
            <p id="text-p">Nous allons vous présenter le projet Effet Doppler. En cliquant sur continuer, vous serez redirigé(e) vers le contenu de l'exposé, vous présentant les informations mais aussi les expériences. Pour finir vous pourrez réaliser un quiz sur l'exposé qui a été fait !</p>
        </div>
        
        <!-- <div class="space" id="space">
            <img src="/images/png/png-space_03.png" alt="space-img" id="space-img">
        </div>

        <div class="doppler" id="doppler">
            <img src="/images/png/png-sound.png" alt="sound-img" id="sound-img">
        </div>

        <div class="main-title-next" id="main-title">        
            <h2>Effet Doppler</h2>
        </div> -->
    </main>

    <div class="background-images">
        <img src="/images/png/bg/02.png" alt="bg" class="object" value="5">
        <img src="/images/png/bg/01.png" alt="bg" class="object" value="5">
        <img src="/images/png/bg/03.png" alt="bg" class="object" value="-5">
        <img src="/images/png/bg/04.png" alt="bg" class="object" value="5">
        <img src="/images/png/bg/05.png" alt="bg" class="object" value="-5">
    </div>

    <button onclick="continueBtn()" id="continue-btn"><span id="btn-span">Continuer</span></button>
    
    <script src="/template/js/background.js"></script>
    <script src="/template/js/disclaimer.js"></script>
</body>
</html>