<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/template/css/styles.css">
    <link rel="stylesheet" href="/public/template/css/main.css">
    <title>Document</title>
</head>
<body>

    
    <main class="main-div" id="main-div">
        <div class="left-div" id="left-div">
            <img src="/public/images/png/stars-img.png" alt="stars" id="stars-img">
        </div>
        <div class="right-div">
            
        </div>
        <div class="modal-div">
            <div class="modal-flex">
                <div class="modal-title">
                    <img src="/public/images/png/titme.png" alt="title" id="title-img">
                    <img src="/public/images/png/logo-title.png" alt="logo-title" id="logo-title">
                </div>
                <img src="/public/images/png/vertical.png" alt="vertical" id="vertical-img">
            </div>
        </div>
    </main>

    <div class="background-images">
        <img src="/public/images/png/bg/01.png" alt="bg" class="object" value="5">
        <img src="/public/images/png/bg/02.png" alt="bg" class="object" value="5">
        <img src="/public/images/png/bg/03.png" alt="bg" class="object" value="-5">
        <img src="/public/images/png/bg/04.png" alt="bg" class="object" value="5">
        <img src="/public/images/png/bg/05.png" alt="bg" class="object" value="-5">
    </div>

    <script src="/public/template/js/background.js"></script>
    <script src="/public/template/js/main.js"></script>
</body>
</html>