<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../images/png/logo-title.png" />
    <link rel="stylesheet" href="../../template/css/scrolling.css">
    <title>Effet Doppler</title>
</head>
<body>

    <button id="navbar-btn" onclick="ToggleNavbar()">≡</button>
    
    <div class="mobile_nav_div" id="mobile-nav-div">
        <div class="mobile_btns_div">
            <button id="Home" onclick="HomeButtonClicked()" class="active">Home</button>
            <button id="Tout le contenu" onclick="ToContentWindow()">Tout le contenu</button>
            <button id="Galerie" onclick="GaleryButtonClicked()">Galerie</button>
            <button id="Sources" onclick="SourceButtonClicked()">Sources</button>
            <button id="À propos" onclick="AboutButtonClicked()">À propos</button>
        </div>
    </div>

    <nav>
        <ul>
            <li><a onclick="HomeButtonClicked()" class="active">Home</a></li>
            <li><a onclick="ToContentWindow()">Tout le contenu</a></li>
            <li><a onclick="GaleryButtonClicked()">Galerie</a></li>
            <li><a onclick="SourceButtonClicked()">Sources</a></li>
            <li><a onclick="AboutButtonClicked()">À propos</a></li>
        </ul>
    </nav>


    <div class="background">
        <img id="sun" src="../../images/png/inkscape/sun.png" alt="sun">
        <img id="bat_4" src="../../images/png/inkscape/bat_4.png" alt="bat_4">
        <img id="bat_3" src="../../images/png/inkscape/bat_3.png" alt="bat_3">
        <img id="birds" src="../../images/png/inkscape/birds.png" alt="birds">
        <img id="bat_2" src="../../images/png/inkscape/bat_2.png" alt="bat_2">
        <img id="bat_1" src="../../images/png/inkscape/bat_1.png" alt="bat_1">
    </div>

    <section class="section_header" id="title">
        <div class="title_div">
            <h1>Effet Doppler</h1>
            <span style="margin-top: 0.5em;">Projet réalisé par Tristan Leymonie, Mattis Fardo, Gabin Gennesseaux</span>
        </div>
    </section>

    <div class="background_not_absolute">
        <img id="background" src="../../images/png/inkscape/background.png" alt="background">
    </div>

    <div class="mobile_device"></div>

    <section class="section_introduction">
        <div id="introduction-text">
            <p><b>L’effet Doppler</b> est un <b>phénomène physique</b> bien plus présent qu’on ne puisse l’imaginer. 
                Lorsque une ambulance passe à toute vitesse à côté d’un point fixe, le son de sa sirène semble <b>plus aigu lorsqu’elle se rapproche</b>, puis <b>plus grave lorsqu’elle s’éloigne</b>.<br><br> 
                Ces situations illustrent un principe de base : lorsque <b>la source d’un son est en mouvement et que l’observateur est immobile, ce mouvement relatif change la fréquence du son perçue</b>. <br>
                Ce phénomène, appelé effet Doppler, consiste en la <b>variation de la longueur d’onde des ondes sonores en fonction du mouvement de la source de ces ondes</b>. <br><br>
                <u>Nous verrons comment ce changement de longueur d’onde se produit, et quelles sont les implications de ce phénomène sur notre perception du son</u>. <br><br>
                Pour cela, nous reviendrons dans un d’abord sur les bases physiques du <b>fonctionnement d’une onde</b>, ce qui nous mènera vers <b>l’étude du son</b>, de sa définition à son illustration mathématique, 
                pour finir sur la <b>mise en évidence du phénomène physique par diverses expériences</b>.</p>
        </div>
        <div class="vertical_bar"></div>
        <div id="introduction-video">
            <h3>Vidéo d'exemple de l'effet doppler pendant un course automobile</h3>
            <iframe alt="video"
            src="https://www.youtube.com/embed/dC4Lp7k4zrI">
            </iframe>
            <br><span>Source : <b>Bo Manton</b> sur Youtube</span>
        </div>
    </section>

    <section class="section_first_part">
        <div>treset</div>
    </section>

    <script src="../../template/js/scrolling.js"></script>
</body>
</html>

<!-- PENSER A METTRE EN CREDITS LE MEC POUR LES IMAGES DOISEAUX -->