<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/scrolling.css">
    <script src="../js/scrolling.js" defer></script>
    <title>Effet Doppler</title>
</head>
<body>
    
    <section class="section_header">
        <nav>
            <ul>
                <li>Home</li>
                <li>Sommaire</li>
                <li>Galerie</li>
                <li>Sources</li>
                <li>Tout le contenu</li>
                <li>À propos</li>
            </ul>
        </nav>

        <div class="title_div">
            <h1>Effet Doppler</h1>
            <span>Projet réalisé avec [...], [...], [...]</span>
        </div>
    </section>

</body>
</html>