.main-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 0.25s ease-in-out;
    animation: openingFadeIn 2s ease-in-out;
}

.main-div:has(.left-div.activated:hover):hover{
    grid-template-columns: 1fr 0.5fr;
}

.main-div:has(.right-div.activated:hover):hover{
    grid-template-columns: 0.5fr 1fr;
}

.main-div .left-div{
    pointer-events: auto;
}

.main-div .left-div:hover{

}

.main-div .right-div{
    pointer-events: auto;
}

.main-div .right-div:hover{

}

.left-div.activated:hover ~ .modal-div {
    left: calc((100% * 2 / 3));
}

.left-div.activated:hover > #left-title {
    opacity: 100%;
}

.right-div.activated:hover ~ .modal-div {
    left: calc((100% * 1 / 3) - 0px);
}

.right-div.activated:hover ~ #stars-img {
    background-color: red;
}

.right-div.activated:hover > #right-title {
    opacity: 100%;
}

.left-div.activated:hover > #stars-img {
    opacity: 100%;
    width: 131.25%;
    animation: 2s floating ease-in-out infinite
}

.right-div.activated:hover ~ .modal-div > .modal-flex > .modal-title > #logo-title {
    rotate: 45deg;
    width: 85%;
    margin-bottom: -19vh;
    margin-left: 2vmin;
    animation: 2s floating ease-in-out infinite
}

.left-div{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
    background-image: url(/images/jpg/space_highquality.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 75%;
}

.right-div{
    z-index: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.modal-div{
    width: 50vmin;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25vmin;
    margin-top: -50vh;
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

.modal-flex{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-title{
    position: absolute;
    bottom: 25%;
    left: 75%;
    height: auto;
    width: 75%;
    transition: 250ms ease-in-out;
}

#title-img{
    width: 70%;
    height: auto;
    z-index: 1000;
}

#vertical-img{
    position: absolute;
    height: 100%;
}

#stars-img{
    position: relative;
    right: 100px;
    height: 100vmin;
    width: 131.75%;
    transition: 250ms ease-in-out;
    opacity: 0%;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}	
	50% {
		transform: translateY(0.66%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

#continue-btn, #overview-btn{
    z-index: 500;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 2vmin;
    position: relative;
    height: 5vh;
    width: 15vh;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(75deg, #9426af, #3414a7); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color: whitesmoke;
    transition: all 250ms ease-in-out;

}

#overview-btn{
    top: 0;
    right: 0;
    z-index: 500;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 1.5vmin;
    position: absolute;
    height: 5vh;
    width: 25vh;
    border: none;
    border-radius: 1000px;
    background: linear-gradient(75deg, #9426af, #3414a7); 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color: whitesmoke;
    transition: all 250ms ease-in-out;
    margin: 5vmin;
    transition: 0.5s ease-in-out;
}

#overview-btn.removed{
    opacity: 0;
}

#continue-btn.removed{
    opacity: 0;
    transition: 0.5s ease-in-out;
}

#left-title, #right-title{
    opacity: 0;
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
}

@keyframes openingFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}