@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    font-family: "Poppins", serif;
    color: #ffffff;
    overflow-x: hidden;

    /* background-image: url(../../images/png/bg/pb.svg);
    background-size: cover;
    background-repeat: no-repeat; */
}

nav{
    height: 6em;
    position: absolute;
    width: 100%;
    font-weight: bold;
    z-index: 10;

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

nav li{
    margin: 0 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10000px;
    font-size: 1rem;
    transition: all 250ms ease-in-out;
    color: #16285b;
}

nav li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li a svg{
    margin-right: 1em;
    fill: #16285b;
    transition: all 150ms ease-in-out;
}

nav li .active{
    text-decoration: underline;
}

nav li:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #283054;
    color: #ffffff;

    a svg{
        fill: #ffffff;
    }
}

.title_div{
    text-align: center;
    height: 100%;
    margin-top: 10em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #16285b;
}

.title_div h1{
    font-size: 5vmax;
}

.section_header{
    pointer-events: none;
    z-index: 3;
    margin-bottom: 5em;
    height: 100%;
    width: 100%;
    position: absolute;
}

.section_introduction{
    padding: 10em 12.5em;
    padding-top: 20em;
    z-index: 4;
    position: relative;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #16285b;
    border-radius: 0 0 2.5em 2.5em;
}

.section_introduction #introduction-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2.5em;
}

.section_introduction #introduction-video{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_introduction #introduction-video iframe{
    width: 80%;
    height: 80%;
}

.section_introduction #introduction-video h3{
    margin-bottom: 1em;
}

.background{
    position: relative;
    max-width: 100%;
    pointer-events: none;
}

.background img{
    position: absolute;
    display: block;
    width: 100%;
    z-index: 2;
}

.background img:last-child{
    z-index: 4;
}

.background_not_absolute{
    pointer-events: none;
    height: fit-content;
    display: block;
    position: relative;
}

.background_not_absolute img{
    display: block;
    width: 100%;
    z-index: 2;
}

.vertical_bar{
    width: 1px;
    background-color: #ffffff;
}

.section_first_part{
    height: fit-content;
    color: #16285b;
    position: relative;
    margin: 10em 20em;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.section_first_part .mid_text{
    display: block;
}

.section_second_part .mid_text{
    display: block;
}

#navbar-btn{
    transition: all 150ms ease-in-out;
    display: none;
    position: absolute;
    z-index: 7;
    margin: 1em;
    height: 50px;
    width: 50px;
    background-color: #283054;
    font-size: large;
    border-radius: 1em;
    border: 1px solid #eeeeee;
    color: #ffffff;
}

.mobile_btns_div button svg{
    margin: auto 0;
    margin-right: 1em;
}

.mobile_nav_div{
    position: absolute;
    left: 0;
    top: 0;
    height: fit-content;
    width: 50%;
    margin-top: 90px;
    z-index: 250;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #16285b;
    border-radius: 10px;
    transform: translateX(-50vw);
    transition: all 150ms ease-in-out;
}

.mobile_nav_div.show{
    transform: translateX(0);
}


.mobile_btns_div{
    background-color: #16285b;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    flex-direction: column;
    border-radius: 10px;
}

.mobile_btns_div button{
    padding-left: 2em;
    font-family: "Poppins", serif;
    border: none;
    height: 3em;
    width: 100%;
    background-color: #16285b;
    text-align: left;
    color: #ffffff;
    transition: all 150ms ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mobile_btns_div button.active{
    text-decoration: underline;
}

.mobile_btns_div button:first-child{
    border-radius: 10px 10px 0 0;
}

.mobile_btns_div button:last-child{
    border-radius: 0 0 10px 10px;
}

.mobile_btns_div button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #16285b;
}

.content_01{
    padding: 0 5em;
}

.section_first_part .content_01{
    display: grid;
    grid-template-columns: 60% auto auto;
    margin-bottom: 5em;
}

.section_first_part h2{
    margin-bottom: 3em;
    text-align: center;
    text-decoration: underline;
}

.section_first_part .content_01 img{
    width: 100%;
}

.section_first_part .content_01 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_first_part .content_01 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.content_02{
    padding: 0 5em;
}

.section_first_part .content_02{
    display: grid;
    grid-template-columns: 60% auto auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_first_part h2{
    position: relative;
    margin: 0 2em;
    margin-bottom: 3em;
    text-align: center;
    text-decoration: underline;
    background-color: #ffffff;
    border: #16285b 1px solid;
    z-index: 2;
}

.section_first_part .content_02 img{
    width: 100%;
}

.section_first_part p{
    font-size: 0.75em;
}

.section_first_part .content_02 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_first_part .content_02 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_first_part .content_02 .text{

}

.section_first_part .border{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    border: #16285b 1px solid;
}


/* CONTENT 03 */

.content_03{
    padding: 0 5em;
}

.section_first_part .content_03{
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_first_part .content_03 img{
    width: 100%;
}

.section_first_part .content_03 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_first_part .content_03 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_first_part .content_03 .text{

}


/*  CONTENT 04  */

.content_04{
    padding: 0 5em;
}

.section_first_part .content_04{
    display: grid;
    grid-template-columns: 60% auto auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_first_part .content_04 img{
    width: 100%;
}

.section_first_part .content_04 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_first_part .content_04 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_first_part{
}


/* SECTION SECOND PART */

.section_second_part .border{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    border: #16285b 1px solid;
}

.section_second_part{
    height: fit-content;
    color: #16285b;
    position: relative;
    margin: 2.5em 20em;
    margin-bottom: 0;
}

.mid_part_text{
    font-size: 1em; 
    color: #16285b; 
    text-align: center; 
    margin: 0 20em ;
    margin-top: 4.5em;
}

.section_second_part h2{
    margin-bottom: 3em;
    text-align: center;
    text-decoration: underline;
    position: relative;
    margin: 0 2em;
    margin-bottom: 3em;
    text-align: center;
    text-decoration: underline;
    background-color: #ffffff;
    border: #16285b 1px solid;
    z-index: 2;
}

.section_second_part .content_01{
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_second_part .content_01 img{
    width: 100%;
}

.section_second_part .content_01 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_second_part .content_01 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_second_part .content_02{
    display: grid;
    grid-template-columns: 60% auto auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_second_part .content_02 img{
    width: 100%;
}

.section_second_part .content_02 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_second_part .content_02 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_second_part .content_03{
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_second_part .content_03 img{
    width: 100%;
}

.section_second_part .content_03 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section_second_part .content_03 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

.section_second_part .content_04{
    display: grid;
    grid-template-columns: 60% auto auto;
    margin-top: 5em;
    margin-bottom: 5em;
}

.section_second_part .content_04 img{
    width: 100%;
}

.section_second_part .content_04 .img_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_second_part .content_04 .separation_line{
    height: 100%;
    width: 1px;
    background-color: #16285b;
    margin: 0 3em;
}

@media(max-width: 1600px){
    .section_first_part{
        margin: 10em 15em;
    }

    .section_second_part{
        margin: 10em 15em;
    }

    .mid_part_text{
        margin: 0 15em ;
        margin-top: 4.5em;
    }
}

@media(max-width: 600px){
    .section_first_part{
        padding-bottom: 0;
    }
    
    .section_second_part{
        padding-bottom: 0;
    }
}

@media(max-width: 1500px){
    .section_introduction{
        padding: 0 10em;
        padding-top: 20vmax;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
    }

    .section_introduction{
        padding-bottom: 5em;
    }

    .section_introduction #introduction-text{
        padding: 0;
    }
    
    .section_introduction #introduction-video{
        padding: 0;
        justify-content: flex-start;
    }

    .section_introduction #introduction-video iframe{
        width: 300px;
        height: 350px;
    }

    .vertical_bar{
        height: 1px;
        margin: 2.5em 0;
        width: 100%;
    }

    #navbar-btn:hover{
        cursor: pointer;
        transform: scale(1.1);
    }

    .content_01{
        padding: 0 5em;
    }

    .section_first_part .content_01{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_first_part .content_01 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }

    .section_second_part .content_01{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_second_part .content_01 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }

    .content_02{
        padding: 0 5em;
    }

    .content_03{
        padding: 0 5em;
    }

    .section_first_part .content_02{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_first_part .content_02 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }

    .section_first_part .content_04{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_first_part .content_04 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }

    .section_second_part .content_02{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_second_part .content_02 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }

    .section_second_part .content_04{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;
    }

    .section_second_part .content_04 .separation_line{
        height: 1px;
        width: 100%;
        background-color: #16285b;
        margin: 3em 0;
    }
    
}

@media (max-width: 1100px){
    .section_first_part{
        margin: 10em 10em;
    }

    .section_second_part{
        margin: 10em 10em;
    }

    .title_div{
        color: #eeeeee;
    }

    .section_header{
        z-index: 4;
    }

    .section_introduction{
        padding: 0 7.5em;
        padding-top: 20vmax;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
        padding-bottom: 5em;
    }

    .mid_part_text{
        margin: 0 10em ;
        margin-top: 4.5em;
    }

    .content_01{
        padding: 0 7.5em;
    }

    .content_02{
        padding: 0 7.5em;
    }

    .content_03{
        padding: 0 7.5em;
    }

    .content_04{
        padding: 0 7.5em;
    }
}

@media (max-width: 920px){
    
    .section_first_part{
        margin: 10em 2.5em;
    }

    .section_second_part{
        margin: 10em 2.5em;
    }

    .mid_part_text{
        margin: 0 2.5em ;
        margin-top: 4.5em;
    }

    .title_div{
        color: #ffffff;
    }

    #navbar-btn{
        display: block;
    }

    .mobile_nav_div{
        display: flex;
    }

    nav{
        display: none;
    }

    .section_introduction{
        padding: 0 2.5em;
        padding-top: 20vmax;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
        padding-bottom: 5em;
    }

    .content_01{
        padding: 0 2.5em;
    }

    .content_02{
        padding: 0 2.5em;
    }

    .content_03{
        padding: 0 2.5em;
    }

    .content_04{
        padding: 0 2.5em;
    }
}

@media(max-width: 530px){

    .background_not_absolute img{
        height: 50vh;
    }

    .mobile_device{
        position: relative;
        background-color: #16285b;
        height: 20%;
        width: 100%;
        z-index: 3;
    }

    .background img:not(:first-child){
        height: 50vh;
    }

    .section_introduction{
        padding: 0 2.5em;
        padding-top: 20vmax;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr;
    }

    .content_01{
        padding: 0 2.5em;
    }

    .content_02{
        padding: 0 2.5em;
    }

    .content_03{
        padding: 0 2.5em;
    }

    .content_04{
        padding: 0 2.5em;
    }
}