@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    overflow: hidden;
    /* background-image: url(../../images/png/bg/pb.svg);
    background-size: cover;
    background-repeat: no-repeat; */
}

.section_header{
    height: 100%;
}

nav{
    height: 4em;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    height: 100%;
}

nav li{
    padding: 0 1.5rem;
    font-size: 0.8rem;
}

nav li:hover{
    cursor: pointer;
    font-size: 0.9rem;
}

.title_div{
    margin: 1em 0;
    text-align: center;
}

.title_div h1{
    font-size: 3.5em;
}